PyPDF2
python-docx
python-pptx
easyocr
transformers
torch 
librosa
pydub
sentencepiece
streamlit
moviepy
langchain
langchain_community
langchain_core
langchain_cohere
cohere
sentence-transformers
faiss-cpu
faiss-gpu